#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
}

h1 {
  font-weight: 300;
  }

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #221C1F;
}

.App {
  height: 100%;
  background-color: #FDF8EC;
}

.Body {
  display: flex;
  justify-content: center;
  align-items: center;
}



